html{
height: 100%;
}
body{
  background: radial-gradient(goldenrod, firebrick);
  height: 100%;
  text-align: center;
}
span{
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
img{
  object-fit: cover;
  height: 150px;
  width:150px;
  border-radius: 50%;
  margin: 20px;
  }

  .btn-group2{
    display: flex;
    justify-content: center;  
  }

  .btn-group{
    display: flex;
    flex-direction: column;
    border: none;
  }

  .btn-outline-secondary{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    
  }

  .btn-outline-primary{
    margin: 10px;
    border: none;
  }
.btn-outline-primary:hover{
  background:none;
}
